# Neon PostgreSQL connection string
# Set this variable in Render Dashboard -> Environment -> Environment Variables
DATABASE_URL="postgresql://neondb_owner:npg_kvTD8GCPyE7Z@ep-quiet-surf-b1y6uhuo-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
